{% extends 'base.html' %}

{% block content%}
{% load static %}

    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper breadcumb-layout1 bg-fluid pt-200 pb-200" data-bg-src="{% static 'assets/img/breadcumb/breadcumb-img-1.jpg">
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">About Us</h1>
                <ul class="breadcumb-menu-style1 mx-auto">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">about</li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
    Best Seller
    ==============================-->
    <section class="best-seller-wrapper bg-light space">
        <div class="container">
            <div class="inner-wrapper px-70 py-70" data-bg-src="{% static 'assets/img/best-seller/seller-bg-1-1.jpg">
                <div class="row justify-content-between flex-row-reverse">
                    <div class=" col-lg-5 mb-30 mb-lg-0">
                        <div class="thumb-slider vs-carousel" data-arrows="true" data-next-arrow="far fa-angle-right" data-prev-arrow="far fa-angle-left" data-slide-show="1" data-lg-slide-show="1" data-md-slide-show="1" data-sm-slide-show="1" data-fade="true">
                            <div class="thumb">
                                <a href="shop.html"><img src="{% static 'assets/img/best-seller/seller-1-1.jpg" class="w-100" alt="Best Seller"></a>
                            </div>
                            <div class="thumb">
                                <a href="shop.html"><img src="{% static 'assets/img/best-seller/seller-1-2.jpg" class="w-100" alt="Best Seller"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center text-lg-start">
                        <h2 class="sec-title1">Best Seller</h2>
                        <h3 class="sec-title2">Foodlio Organic</h3>
                        <img src="{% static 'assets/img/icons/sec-icon-1.png' %}" alt="Section Title">
                        <p class="text-body2 fs-xs mt-3 mb-4 pb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
                        <a href="about.html" class="vs-btn">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
    features Area
    ==============================-->
    <section class="vs-features-wrapper position-relative space-top space-md-bottom">
        <div class="position-absolute start-0 top-0 ani-moving-y d-none d-hd-block"><img src="{% static 'assets/img/shape/shape-2.png' %}" alt="Shape Image"></div>
        <div class="position-absolute end-0 bottom-0 d-hd-inline-block d-none ani-moving-y"><img src="{% static 'assets/img/about/shape-1.png' %}" alt="Shape Image"></div>
        <div class="container">
            <div class="row justify-content-center justify-content-lg-between">
                <div class="col-sm-6 col-md-4 col-xl-3 vs-feature-box1 wow fadeIn" data-wow-delay="0.3s">
                    <div class="feature-shape"><img src="{% static 'assets/img/shape/feature-shape.png' %}" alt="Shape"></div>
                    <div class="feature-icon">
                        <span class="badge">01</span>
                        <i class="flaticon-leaf"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="feature-title h4 fw-semibold mb-2">Pick a starter option</h3>
                        <p class="text-body2 mb-0">Lorem ipsum dolor sit amet, consec-tetur adipiscing elit, sed do.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-3 vs-feature-box1 wow fadeIn" data-wow-delay="0.3s">
                    <div class="feature-shape"><img src="{% static 'assets/img/shape/feature-shape.png' %}" alt="Shape"></div>
                    <div class="feature-icon">
                        <span class="badge">02</span>
                        <i class="flaticon-kitchen"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="feature-title h4 fw-semibold mb-2">Shop groceries</h3>
                        <p class="text-body2 mb-0">Lorem ipsum dolor sit amet, consec-tetur adipiscing elit, sed do.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-3 vs-feature-box1 wow fadeIn" data-wow-delay="0.3s">
                    <div class="feature-icon">
                        <span class="badge">03</span>
                        <i class="flaticon-delivery"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="feature-title h4 fw-semibold mb-2">We deliver. You enjoy</h3>
                        <p class="text-body2 mb-0">Lorem ipsum dolor sit amet, consec-tetur adipiscing elit, sed do.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
  Services
  ============================== -->
    <section class="vs-service-wrapper space-top space-md-bottom" data-bg-src="{% static 'assets/img/service/service-bg-1-1.jpg">
        <div class="container">
            <div class="section-title text-center wow fadeIn" data-wow-delay="0.3s">
                <h2 class="sec-title1">Netural Market</h2>
                <h3 class="sec-title2">Healthy Food</h3>
                <img src="{% static 'assets/img/icons/sec-icon-1.png' %}" alt="About Image">
            </div>
            <div class="row vs-carousel wow fadeIn" data-wow-delay="0.3s" data-slide-show="3" data-md-slide-show="2">
                <div class="col-md-6 col-xl-4">
                    <div class="service-box1">
                        <div class="sr-shape1"><img src="{% static 'assets/img/shape/service-s-1-1.png' %}" alt="Image"></div>
                        <div class="sr-shape2"><img src="{% static 'assets/img/shape/service-s-1-2.png' %}" alt="Image"></div>
                        <div class="service-img">
                            <img src="{% static 'assets/img/service/service-img-1.png' %}" alt="Service Image">
                        </div>
                        <div class="service-content">
                            <h3 class="service-title h2 fw-semibold"><a href="service.html">Almonds</a></h3>
                            <p class="service-text fs-xs mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            <a href="shop.html" class="icon-btn"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-box1">
                        <div class="sr-shape1"><img src="{% static 'assets/img/shape/service-s-1-1.png' %}" alt="Image"></div>
                        <div class="sr-shape2"><img src="{% static 'assets/img/shape/service-s-1-2.png' %}" alt="Image"></div>
                        <div class="service-img">
                            <img src="{% static 'assets/img/service/service-img-2.png' %}" alt="Service Image">
                        </div>
                        <div class="service-content">
                            <h3 class="service-title h2 fw-semibold"><a href="service.html">Hazelnuts</a></h3>
                            <p class="service-text fs-xs mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            <a href="shop.html" class="icon-btn"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-box1">
                        <div class="sr-shape1"><img src="{% static 'assets/img/shape/service-s-1-1.png' %}" alt="Image"></div>
                        <div class="sr-shape2"><img src="{% static 'assets/img/shape/service-s-1-2.png' %}" alt="Image"></div>
                        <div class="service-img">
                            <img src="{% static 'assets/img/service/service-img-3.png' %}" alt="Service Image">
                        </div>
                        <div class="service-content">
                            <h3 class="service-title h2 fw-semibold"><a href="service.html">Peanuts</a></h3>
                            <p class="service-text fs-xs mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            <a href="shop.html" class="icon-btn"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-box1">
                        <div class="sr-shape1"><img src="{% static 'assets/img/shape/service-s-1-1.png' %}" alt="Image"></div>
                        <div class="sr-shape2"><img src="{% static 'assets/img/shape/service-s-1-2.png' %}" alt="Image"></div>
                        <div class="service-img">
                            <img src="{% static 'assets/img/service/service-img-4.png' %}" alt="Service Image">
                        </div>
                        <div class="service-content">
                            <h3 class="service-title h2 fw-semibold"><a href="service.html">Pumpkin</a></h3>
                            <p class="service-text fs-xs mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            <a href="shop.html" class="icon-btn"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
      About Us Area
    ==============================-->
    <section class="vs-about-wrapper position-relative bg-fluid space" data-bg-src="{% static 'assets/img/about/about-bg-1-1.png' %}">
        <div class="shape1 d-hd-inline-block d-none"><img src="{% static 'assets/img/about/shape-1-1.png' %}" alt="Shape Image"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-6">
                    <div class="img-box1">
                        <img src="{% static 'assets/img/about/about-img-1.png' %}" alt="About Image">
                        <div class="img1 ">
                            <img src="{% static 'assets/img/about/about-img-1-2.png' %}" alt="About Image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6">
                    <div class="about-content pt-75 text-center text-lg-start ">
                        <span class="sub-title1">We Are Foodano</span>
                        <h2 class="sec-title1">The Best Trusted</h2>
                        <h2 class="sec-title2">Farms In the World</h2>
                        <img src="{% static 'assets/img/icons/sec-icon-1.png' %}" alt="About Image">
                        <h3 class="sub-title2 h4 mt-30">With Love & Dedication</h3>
                        <div class="row justify-content-center justify-content-lg-start">
                            <div class="col-md-10 col-lg-11 mb-15">
                                <p class="text-body2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                            </div>
                            <div class="mb-20 mb-sm-0 col-auto col-lg-6 col-xl-5 d-flex align-items-center">
                                <span class="text-theme"><i class="flaticon-eco fa-4x"></i></span>
                                <h4 class="text-light ms-4 mb-0">100% organic</h4>
                            </div>
                            <div class="col-auto col-lg-6 d-flex align-items-center">
                                <span><i class="flaticon-vegetables fa-4x"></i></span>
                                <h4 class="text-light ms-4 mb-0">Natural Foods</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
    Team Area
  ============================== -->
    <section class="vs-team-wrapper space-md-bottom">
        <div class="container">
            <div class="section-title text-center  wow fadeIn" data-wow-delay="0.3s">
                <h2 class="sec-title1">Meet Our Team</h2>
                <h3 class="sec-title2">Do you know</h3>
                <img src="{% static 'assets/img/icons/sec-icon-1.png' %}" alt="Section Title">
            </div>
            <div class="row vs-carousel  wow fadeIn" data-wow-delay="0.3s" data-slide-show="4">
                <div class="col-xl-3">
                    <div class="vs-member-box">
                        <div class="member-img">
                            <img src="{% static 'assets/img/team/team-1-1.png' %}" alt="Team Image">
                            <div class="member-links">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fal fa-basketball-ball"></i></a>
                            </div>
                        </div>
                        <div class="member-content">
                            <h3 class="member-name fw-semibold">Miller Maria</h3>
                            <span class="text-theme degi">Smoothie Bartender</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="vs-member-box">
                        <div class="member-img">
                            <img src="{% static 'assets/img/team/team-1-2.png' %}" alt="Team Image">
                            <div class="member-links">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fal fa-basketball-ball"></i></a>
                            </div>
                        </div>
                        <div class="member-content">
                            <h3 class="member-name fw-semibold">Jon Tramp</h3>
                            <span class="text-theme degi">Founder Oars Store</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="vs-member-box">
                        <div class="member-img">
                            <img src="{% static 'assets/img/team/team-1-3.png' %}" alt="Team Image">
                            <div class="member-links">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fal fa-basketball-ball"></i></a>
                            </div>
                        </div>
                        <div class="member-content">
                            <h3 class="member-name fw-semibold">Roshe Utla</h3>
                            <span class="text-theme degi">Co - Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="vs-member-box">
                        <div class="member-img">
                            <img src="{% static 'assets/img/team/team-1-4.png' %}" alt="Team Image">
                            <div class="member-links">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fal fa-basketball-ball"></i></a>
                            </div>
                        </div>
                        <div class="member-content">
                            <h3 class="member-name fw-semibold">Markel Tomy</h3>
                            <span class="text-theme degi">Marketer</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="vs-member-box">
                        <div class="member-img">
                            <img src="{% static 'assets/img/team/team-1-5.png' %}" alt="Team Image">
                            <div class="member-links">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fal fa-basketball-ball"></i></a>
                            </div>
                        </div>
                        <div class="member-content">
                            <h3 class="member-name fw-semibold">Miller Maria</h3>
                            <span class="text-theme degi">Senior Chef</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}